@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.navbar-default {
	background: #001f3f;
}
.navbar-nav.menu-item {
    float: none;
    display: inline-block;
    font-size: 1.4em;

}
a.title {
	color: #f0F8FF;
    
}