@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body{

	padding-top: 150px;
	height: 2000px;
	font-family:Lora, sans-serif;
}

.menu{
	background: #3b5998;
	height: 150px;
}
i.news ,a.article,i.o, a.admin{
	color:white;
	padding-top:3.2em;
	font-size: 1.3em;
}
.article{
	padding-right: 2em;
}
.logo{
	
	padding-top:2.4em;

}

.col-md-4{
	padding-left: 10em;
	font-size:1.6em;


}
.link{
	text-align: right;

}


h4{
	padding-top: 5px;
	text-transform: uppercase;
	color:#f0F8FF;

}

p, i.cop{
	font-size: 1.2em;
	text-align: center;
	color:#001f3f;
}


i.book,.twit,.git{
	padding-left: 1em;
	padding-top: 3em;
	color:white;
	

}
.img{
	width: 1300px;
	height: 800px;
	background-color::transparent; 
}