@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
 
 body{
 	
  
  padding-top: 150px;
  height: 2000px;

 }

 .menu{
 	background: black;
 	height: 100px;
 }
 a.article, a.admin{
 	text-decoration: none;
 	text-align: center;
 	text-transform: uppercase;
 	margin-right: 10px;
 	color: grey;
 }


 h4{
 	padding-top: 25px;
 	text-transform: uppercase;
 	color: white;
 }

 h5{
	color: white;
	text-align: center;
	padding-top: 25px;
}

 .glyphicon{
 	padding-top: 25px;
 	padding-right: 5px;
 	color: white;

 }
