@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body{

	padding-top: 150px;
	height: 2000px;
	font-family:Lora, sans-serif;
}

.menu{
	background: #001f3f;
	height: 150px;
}
i.news ,a.article,i.o, a.admin{
	color:#f0F8FF;
	text-transform: uppercase;
	padding-top:5em;
}
.article{
	padding-right: 2em;
}
.logo{
	
	padding-top:2.4em;
	
}




.col-md-4{
	padding-left: 10em;
	font-size:1.6em;


}
.link{
	text-align: right;

}


h4{
	padding-top: 5px;
	text-transform: uppercase;
	color:#f0F8FF;

}

p, i.cop{
	font-size: 1.2em;
	text-align: center;
	color:#001f3f;
}


i.book,.twit,.git{
	padding-left: 1em;
	padding-top: 3em;
	color:#f0F8FF;
	/*font-size: 3em;*/

}
